Package: mapr-hivemetastore
Version: __RELEASE_VERSION__
Section: base
Priority: optional
Architecture: all
Depends: mapr-hive (>= __RELEASE_VERSION__) | mapr-hive (<= __RELEASE_VERSION__)
Maintainer: Hewlett Packard Enterprise
Description: Apache Hive (Metastore) distribution included in HPE DataFabric Software Ecosystem Pack
  Tag: __RELEASE_BRANCH__
  Commit: __GIT_COMMIT__
